#!/bin/sh

numlockx on&
sleep 1; xset dpms 0 0 0 -dpms s 0 0

xbindkeys&
pcmanfm --daemon-mode&

if (systemd-detect-virt | grep kvm &> /dev/null) ;then
  spice-vdagent&
  xrandr --output Virtual-1 --auto&
  feh --no-fehbg --bg-fill '/usr/share/backgrounds/archlinux/simple.png'&
fi
